.app-modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.6) !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 9999 !important;
  overflow-y: auto !important;
}

.modal-content {
  background: #fff !important;
  border-radius: 16px !important;
  width: 95vw !important;
  max-width: 800px !important;
  max-height: 600px !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
  overflow-y: auto !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25) !important;
}

.close-btn {
  position: absolute !important;
  top: 12px !important;
  right: 16px !important;
  font-size: 40px !important;
  padding: 0px !important;
  background-color: yellow !important;
  border: blue solid 4px !important;
  color: red !important;
  cursor: pointer !important;
  z-index: 1 !important;
}

.modal-header {
  display: flex !important;
  align-items: center !important;
  padding: 5px !important;
  border-bottom: 1px solid #eee !important;
  font-size: 1.5em !important;
  margin-right: 3em !important;
}

.modal-icon {
  width: 4rem !important;
  height: 4rem !important;
}

.modal-title {
  font-size: 1.3em !important;
  font-weight: bold !important;
  margin-right: 1em !important;
}

.intro-body {
  display: flex !important;
  flex-direction: row !important;
  padding: 2px 5px !important;
  gap: 1em !important;
}

.intro-desc {
  width: 25% !important;
  min-width: 80px !important;
  font-size: 1.3em !important;
  color: #444 !important;
  align-self: flex-start !important;
  background-color: #c1eec1 !important;
  padding: 10px 5px !important;
}

.intro-youtube {
  width: 75% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.youtube-frame {
  width: 100% !important;
  min-width: 180px !important;
  aspect-ratio: 16/9 !important;
  border: none !important;
}

.modal-nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 1em !important;
  border-top: 1px solid #eee !important;
}

.nav-arrow {
  font-size: 4em !important;
  background-color: yellow !important;
  border: solid red 2px !important;
  color: #0026ff !important;
  cursor: pointer !important;
  padding: 0 1em !important;
}

@media (max-width: 600px) {
  .modal-content {
    max-width: 98vw !important;
    padding: 0 !important;
    position: absolute !important;
    left: 5vw !important;
  }

  .modal-body {
    flex-direction: column !important;
    gap: 0.5em !important;
  }

  .modal-desc,
  .modal-youtube {
    width: 100% !important;
    min-width: 0 !important;
  }
}