html{dir="rtl"}
#Blog1 > div > article > div > div > div.slide > div > div.post-title-container > h3{display: none;}
  
h1.PageTitle{font-size: 2.5em; color: Yellow; text-align: center;}
div.gallery { border: 1px solid #ccc; }

div.gallery:hover {border: 1px solid #777; }

div.gallery img { width: 100%; height: auto; }

div.desc { padding: 15px ;text-align: center; }

* {box-sizing: border-box; }

.responsive { padding: 0 6px; float: right; width: 24.99999%; }

@media only screen and (max-width: 700px) { responsive { width: 49.99999%; margin: 6px 0; } }

@media only screen and (max-width: 500px) { .responsive { width: 100%;}}

.clearfix:after {content: "";display: table;clear: both;}